@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-900;
  }
}

/* Leaflet map fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
